<div *ngIf="displayCategory; else categories">
  <app-category-menu
    [displayCategory]="displayCategory"
    [categoryIdToDisplay]="categoryToDisplay"
    (categoryDisplayClicked)="toggleCategoryDisplay($event)"
    (categorySet)="setCategoryId($event)"
  >
  </app-category-menu>
</div>

<ng-template #categories>
  <div *ngIf="!displayCategoryProducts; else product">
    <app-categories
      [displayCategory]="displayCategory"
      [categoryIdToDisplay]="categoryToDisplay"
      (categoryDisplayClicked)="toggleCategoryDisplay($event)"
      (categorySet)="setCategoryId($event)"
    >
    </app-categories>
  </div>
</ng-template>

<ng-template #product>
  <app-product
    [displayCategoryProducts]="displayCategoryProducts"
    [productToDisplay]="productToDisplay"
  ></app-product>
</ng-template>
