<div *ngIf="displayCategory; else categories">
  <app-category-menu
    [displayCategory]="displayCategory"
    [categoryToDisplay]="categoryToDisplay"
    (categoryDisplayClicked)="toggleCategoryDisplay($event)"
    (categorySet)="setCategoryId($event)"
  >
  </app-category-menu>
</div>

<ng-template #categories>
  <div *ngIf="!displayCategoryProducts; else product">
    <app-categories
      [displayCategory]="displayCategory"
      [categoryToDisplay]="categoryToDisplay"
      (categoryDisplayClicked)="toggleCategoryDisplay($event)"
      (categorySet)="setCategoryId($event)"
    >
    </app-categories>
  </div>
</ng-template>

<ng-template #product>
  <div *ngIf="displayProductDetails">
    <app-product
      [displayCategoryProducts]="displayCategoryProducts"
      [productToDisplay]="productToDisplay"
      [displayProductDetails]="displayProductDetails"
    ></app-product>
  </div>
</ng-template>
