<i class="fas fa-arrow-left" (click)="toggleCategoryDisplay(false)"></i>

<p>
  category-menu works! THIS IS WHERE ALL THE ITEMS OF THIS MENU WILL BE
  DISPLAYED {{ items }}
</p>

<div *ngFor="let item of items">
  <p>{{ item.intro }}</p>
</div>

<!-- <div *ngFor="let item of items | customFilter:filtercond" >
  <h2>{{ item.itemTitle }}</h2>
  <img src="{{ item.itemImgUrl }}" />
</div> -->

<div *ngFor="let item of items.filter(item.type === categoryToDisplay)">
  <h2>{{ item.itemTitle }}</h2>
  <img src="{{ item.itemImgUrl }}" />
</div>

<!-- <p>{{ category.intro }}</p> -->
<!-- </div> -->

<!-- class="product-card" (click)="openDetailPage()" -->
<!-- <div *ngIf="item.type == categoryToDisplay"> -->
<!-- </div> -->
